src/weights/** filter=lfs diff=lfs merge=lfs -text
dataset/processed/news_training_128.p filter=lfs diff=lfs merge=lfs -text
dataset/processed/news_training.p filter=lfs diff=lfs merge=lfs -text
dataset/processed/news_validation_32.p filter=lfs diff=lfs merge=lfs -text
dataset/processed/news_validation.p filter=lfs diff=lfs merge=lfs -text
